.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}
.headerName {
    position: absolute;
    width: 215px;
    height: 30px;
    left: 25px;
    top: 40px;
    margin-bottom: 4px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;

    color: #000000;
}