.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background: linear-gradient(white, antiquewhite);
    font-family: Palatino, URW Palladio L, serif;
}

.headerNameApp {
    margin-left: 15%;
    margin-top: 4px;
    font-size: 32px;
    color: #000000;
}
.coffe {
    font-weight: bold;
    font-size: 30px;
}
.buttonChangeArticle {
    color: black;
    font-size: small;
    font-family: Palatino, URW Palladio L, serif;
    background: antiquewhite;
    border-radius: 0;
    border: 0;
}
.textBtnBack {
    color: black;
    font-size: medium;
    font-family: Palatino, URW Palladio L, serif;
}
.btnBack {
    margin-left: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: white;
    border: 0;
}