
.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background: linear-gradient(white, antiquewhite);
    font-family: Palatino, URW Palladio L, serif;
}

.headerNameApp {
    margin-left: 15%;
    margin-top: 15px;
    font-size: 32px;
    color: #000000;
}
.coffe {
    font-weight: bold;
    font-size: 30px;
}