.form {
    display: flex;
    flex-direction: column;

    /*align-items: center;*/
    /*justify-content: center;*/

    width: 100%;
    padding: 20px;
    background: linear-gradient(white, antiquewhite);
    font-family: Palatino, URW Palladio L, serif;
}

h4 {
    color: black;
    justify-content: left;
    font-family: Palatino, URW Palladio L, serif;
}

.input {
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid rgba(255, 187, 86, 1);
    border-radius: 0.25rem;
    justify-content: left;
    font-family: Palatino, URW Palladio L, serif;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;

}
.headerName {
    position: absolute;
    width: 215px;
    height: 30px;
    left: 25px;
    top: 40px;
    margin-bottom: 4px;

    font-family: Palatino, URW Palladio L, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;

    color: #000000;
}
.totalPrice{
    margin-top: 30%;
    position: fixed;
    left: 94%;
    transform: translate(-90%, 0);

    width: 40px;
    height: 40px;
    color: #882323;
    border-radius: 10px;
    /*background: #FADEB3;*/
    background: #ffcc99;
    border: 0;
    font-weight: bold;
    font-family: Palatino, URW Palladio L, serif;
}

h3 {
    color: red;
    font-weight: bold;
}
