.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background: linear-gradient(white, antiquewhite);
    font-family: Palatino, URW Palladio L, serif;
}

h4 {
    color: black;
    justify-content: left;
    font-family: Palatino, URW Palladio L, serif;
}

.input {
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid rgba(255, 187, 86, 1);
    border-radius: 0.25rem;
    justify-content: left;
    font-family: Palatino, URW Palladio L, serif;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}
.headerName {
    position: absolute;
    width: 215px;
    height: 30px;
    left: 25px;
    top: 40px;
    margin-bottom: 4px;

    font-family: Palatino, URW Palladio L, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;

    color: #000000;
}


h3 {
    color: red;
    font-weight: bold;
}
.errorMsg {
    color: white;
    font-family: Palatino, URW Palladio L, serif;
    font-size: large;
}
.errorMsgImportant {
    color: #882323;
}
.btnBackError {
    background: none;
    margin-bottom: 7px;
    color: white;
    font-size: large;
    display: inline-block;

}

.checkMainButton {
    background: #583635;
    color: white;
    font-size: larger;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 98%;
    margin-top: 50%;
}

.totalPrice{
    margin-top: 20%;
    position: fixed;
    left: 97%;
    transform: translate(-90%, 0);

    width: 48px;
    height: 40px;
    /*color: #882323;*/
    color: black;
    border-radius: 10px;

    background: #ffcc99;
    /*background: #583635;*/

    border: 0;
    font-weight: bold;
    font-family: Palatino, URW Palladio L, serif;
}