.main {
    background: linear-gradient(white, #FFCC99);
    font-family: Palatino, URW Palladio L, serif;
    color: black;
    width: 100%;
}
.word{
    font-weight: bold;
}
.text{
    color: black;
    font-size: 25px;
    text-align: left;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;

    line-height: 35px;

}
.headerNameApp {
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    color: #000000;
    margin-top: 15px;
    text-align: center;
}

.coffe {
    font-weight: bold;
    font-size: 28px;
}
.photo {
    margin-top: 50px;
    margin-left: 25%;
}
.helpA {
    color: white;
}