.btn{
    padding: 10px 15px;
    margin-left: auto;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    background: white;
    border: 0px;
}
.textUser {
    font-size: 19px;
    font-family: "Times New Roman";
}