.product {
    display: flex;
    margin-top: 7%;
    flex-direction: column;
    border: 1px solid rgba(255, 187, 86, 1);
    padding: 10px;
    width: 300px;
    height: 300px;
    color: black;
}

.title{
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 6px;
    font-size: 1.5em;
}
.img {
    width: 100%;
    height: 135px;
    margin: 0 auto;
    background: rgba(255, 187, 86, 1);
    opacity: 80%;
    border-radius: 6px;
}


.description {
    font-size: 0.8em;
    color: black;

}
.price {
    margin-bottom: 13px;
}
.add-btn {
    width: 48%;
    height: 15%;
    border-radius: 4px;
}
.remove{
    width: 25%;
    height: 15%;
    border-radius: 4px;
    background: #ffbb56;
    opacity: 50%;
    color: black;
    margin-bottom: -1px;
    margin-top: -42px;
    position: relative;
    left: 69%;
    transform: translate(-70%, 0);
}
.count {
    margin-bottom: -30px;
    position: relative;
    left: 98%;
    transform: translate(-80%, 0);

    width: 32px;
    height: 32px;
    color: black;
    border-radius: 10px;
    background: #FADEB3;
    border: 0;
}
.photoLabelCheck {
    width: 15px;
}