.product {
    display: flex;
    margin-top: 58px;
    flex-direction: column;
    border: 1px solid rgba(255, 187, 86, 1);
    padding: 15px;
    width: 300px;
    height: 270px;
    color: black;
}

.title{
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 6px;
    font-size: 1.5em;
}
.img {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    background: rgba(255, 187, 86, 1);
    opacity: 50%;
    border-radius: 6px;
}

.description {
    font-size: 0.8em;
    color: black;

}
.price {
    margin-bottom: 7px;
}
.add-btn {

    /*left: 5%;*/
    /*transform: translate(-5%, 0);*/

    width: 50%;
    height: 25%;
    border-radius: 4px;


}
.remove{
    /*left: 80%;*/
    /*transform: translate(-80%, 0);*/
    /*padding: 5px;*/

    width: 30%;
    height: 25%;
    border-radius: 4px;
    background: #ffbb56;
    opacity: 50%;
    color: black;

    margin-bottom: -1px;
    margin-top: -50px;
    position: relative;
    left: 79%;
    transform: translate(-80%, 0);
}
.count {
    /*outline: 2px solid #ffbb56;*/
    /*padding-left: 255px;*/

    /*opacity: 80%;*/
    margin-bottom: -25px;
    position: relative;
    left: 98%;
    transform: translate(-80%, 0);

    width: 32px;
    height: 32px;
    color: black;
    border-radius: 10px;
    background: #FADEB3;
    border: 0;


}